body{
  
  background-color: #edf2f2;
}
.App{
  text-align: center;
}
.header{
  font-size: 2em; 
  font-weight: 500;
}
.grid{
  
  /* display: flex;
  width:100%;
  justify-content: center;
  align-items: center; */
}
